<div class="card-header">
            
            <h5 id="title" class="card-title">{{title}}</h5>
            <h7 class="card-subtitle mb-2 text-muted" id="lastdate"></h7>
            
        </div>
        <div class="card-body">
            
            <div class="row" id="body-content" style="height:100%;">
                <div class="col-sm-4 my-auto variation" id="variation">
                    <span class="card-text" id="lastvariation"></span>
                    <i id="lastcaret"></i>
                    
                </div>
                <div class="col-sm-8 graph">
                    
                </div>
            </div>
        </div>
        <div class="card-footer">
            
            <button type="button" id="goto" class="btn btn-light">
                EDITAR
            </button>
            
            <i id="verified" class="align-middle" style="font-size:26px;"></i>
                
            
                
            
        </div>